.transAddition {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.animModalWindow {
    transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
}